:root{
    --primary: #22F55D;
    --primary-dark: #19E552;
    --black: #151515;
    --white: #fff;
    --light-gray: #F9F9F9;
    --gray: #A8A8A8;
    --gray-40: #D7D7D7;
    --text-error: #FFABAB;
}
*{box-sizing: border-box;}

body{
    position: relative;
    min-width: 320px;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 120%;
    font-weight: 600;
    color: var(--black);
}
.primary{
    background-color: var(--primary);
}
.light{
    background-color: var(--white);
}
.no-index{
    z-index: -1;
}
.container{
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.125em;
}
.btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
}
.btn-dark{
    width: 100%;
    font-size: 1.125em;
    border-radius: 30px;
    background: var(--black);
    color: var(--white);
    min-height: 54px;
}
.btn-light{
    width: 100%;
    font-size: 1.125em;
    background: var(--primary);
    color: var(--black);
    border-radius: 30px;
    min-height: 54px;
}
.btn-white{
    width: 100%;
    font-size: 1.125em;
    background: var(--white);
    color: var(--black);
    border-radius: 30px;
    min-height: 54px;
}

.section{
    min-height: 100svh;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}
.section-top{
    flex: 1 1 auto;
}
.section-action{
    padding: 28px 0 18px 0;
}
.title{
    text-align: center;
    margin: 0;
    font-size: 1.25em;
}
.big-title{
    text-align: center;
    font-size: 1.875em;
    line-height: 120%;
    margin: 32px 0;
}
.home-price-wrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-price-input-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}
.home-price-input{
    white-space: nowrap;
    font-size: 3.75em;
    line-height: 100%;
    font-weight: 700;
    width: 100%;
    text-align: center;
}
.input-currency{
    pointer-events: none;
    position: relative;
    min-width: 40px;
    padding: 0 5px;
    line-height: 100%;
    font-weight: 700;
    margin: 0;
    border: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    box-sizing: content-box;
}
.input-currency:focus{
    outline: none;
    border: none;
}
.home-price-wrapper p{
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 24px;
    margin: 5px 0;
}
.home-avatar-wrapper{
    margin-top: 15px;
}
.home-select-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 56px;
}
.home-radio-wrapper{
    margin-top: 45px;
}
.page-title-wrapper{
    display: flex;
    align-items: center;
    position: relative;
}
.page-title-wrapper a{
    position: absolute;
    z-index: 9;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.page-title{
    position: relative;
    flex: 1 1 auto;
    text-align: center;
}
.qr-code{
    text-align: center;
}
.qr-code img{
    display: block;
    width: 100%;
    height: 100%;
}
.form-control{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text-info{
    text-align: center;
    font-size: 1.125em;
    font-weight: 500;
    color: var(--gray);
    margin: 30px 0 0 0;
}

.success-logo{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.success-content{
    margin-top: 60px;
    text-align: center;
}
.success-title{
    text-transform: uppercase;
    font-size: 2.938em;
    font-weight: 900;
    line-height: 120%;
    margin: 0;
}
.success-text{
    font-size: 1.125em;
    margin: 10px 0 0 0;
    font-weight: 500;
    line-height: 130%;
}
.lang-btn{
    position: absolute;
    z-index: 9;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid var(--light-gray);
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    font-size: 14px;
    font-weight: bold;
    color: var(--black);
}

.error-page{
    background: #000;
    min-height: 100svh;
    color: var(--white);
}

.error-image{
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.error-text{
    text-align: center;
    font-size: 18px;
}
.error-text p{
    margin: 0 0 8px 0;
    font-weight: lighter;
    color: var(--gray);
}
.error-text a{
    color: var(--white);
    text-decoration: none;
}

.skeleton {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.skeleton:after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: hsla(228,5%,58%,.1) linear-gradient(90deg, transparent, #ddd, transparent);
    background-size: 200%;
    animation: ufo-skeleton 1s linear infinite;
}

@keyframes ufo-skeleton {
    from { background-position-x: 100% }
    to {   background-position-x: -100%   }
}