.select{
    display: inline-flex;
    position: relative;
    font-size: 1.20em;
    background: var(--primary);
}

.selectButton{
    position: relative;
    z-index: 2;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    border: 2px solid var(--black);
    border-radius: 30px;
    padding: 0 23px;
    height: 54px;
    min-width: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 22px;
    background: none;
}
.selectContent{
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    border: 2px solid var(--black);
    background: var(--primary);
    border-radius: 27px;
    border-top: none;
    padding: 54px 0 0 0;
}
.selectContent li{
    cursor: pointer;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 54px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #09CE40;
}
.selectContent li.diasbled{
    color: #09CE40;
    pointer-events: none;
}
.selectContent li:last-child{
    border: none;
}

.select.active .selectButton svg{
    transform: rotate(180deg);
}
.select.active .selectContent{
    display: block;
}
.radioGroup{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(30px, 90px));
    gap: 8px;
}
.radioItem{
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 30px;
    background: var(--light-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    border: 2px solid transparent;
}
.radioItemActive{
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0;
    background: var(--light-gray);
    border: 2px solid var(--black);
}