.groupPayment{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.paymentItem{
    display: flex;
    align-items: center;
    gap: 27px;
    background: var(--light-gray);
    border-radius: 30px;
    padding: 13px 24px;
    text-decoration: none;
    color: inherit;
}
.paymentItem.disabled{
    pointer-events: none;
    background: var(--white);
    border: 2px solid var(--light-gray);
}
.paymentItem.disabled .paymentIcon{
    background: var(--light-gray);
}
.paymentItem.disabled .paymentIcon img{
    opacity: .2;
}
.paymentItem.disabled .paymentTitle{
    color: var(--gray-40);
}
.paymentItem.disabled .paymentDescription{
    color: var(--gray-40);
}

.paymentIcon{
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 16px;
}
.paymentIcon svg{
    width: 34px;
    height: 34px;
}
.paymentTitle{
    display: block;
    font-size: 1.125em;
    font-weight: 600;
}
.paymentDescription{
    display: block;
    max-width: 185px;
    font-size: 0.875em;
    color: var(--gray);
    font-weight: 500;
    line-height: 120%;
    margin-top: 5px;
}