.snippet{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    padding: 12px 24px;
    border: 2px solid var(--light-gray);
}
.snippet button{
    width: 34px;
    height: 34px;
}
.snippetContent{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}
.snippetContent input{
    border: none;
    background: none;
    font-weight: 600;
    line-height: 120%;
    padding: 0;
    font-size: 1.125em;
    color: var(--black);
}
.snippetContent label{
    font-size: 0.875em;
    line-height: 120%;
    color: var(--gray);
    font-weight: normal;
}
.popover{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--black);
    color: var(--white);
    border-radius: 20px;
    padding: 1em;
    font-size: 14px;
}