.avatar{
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    padding: 8px 15px 8px 8px;
    background-color: var(--light-gray);
}
.avatarImage{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.avatarImage img{
    width: 100%;
    height: 100%;
    display: block;
}
.avatarContent{
    width: 100%;
    font-size: 1.125em;
    min-height: 19px;
}