.AlertWrapper{
    display: none;
}
.AlertWrapperActive{
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: flex-start;
    background: rgba(0,0,0, 0.3);
}
.Alert{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    background: var(--black);
    color: var(--text-error);
    padding: 26px 24px;
    border-radius: 20px;
}
.AlertButton button{
    background: none;
    padding: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.AlertContent p{
    margin: 10px 0 0 0;
    font-weight: 600;
    font-size: 1em;
}